!!!
%html
  %head
    %title Rscratch | Track Exceptions and Bugs of your Rails application
    = stylesheet_link_tag "rscratch/application", :media => "all"
    = javascript_include_tag "rscratch/application"
    = csrf_meta_tags
  %body
    .navbar-fixed
      %nav.white
        .nav-wrapper
          %ul.left
            %li
              %h1.logo-wrapper
                %a{:href => "/rscratch"}
                  =image_tag 'rscratch/rscratch_logo.png', :alt => "Rscratch", :height => "55"
                  %span.logo-text RScratch
          %ul#nav-mobile.left.hide-on-med-and-down.grey-text
            %li{:class => "#{'active' if current_page?(root_path)}"}
              %a.grey-text.text-darken-2{:href => root_path} DASHBOARD
            %li{:class => "#{'active' if current_page?(exceptions_path)}"}
              %a.grey-text.text-darken-2{:href => exceptions_path} EXCEPTIONS

    = yield